#ProblemList input[type=text], #TestList input[type=text]{
    min-width: 100px;
    width: calc(100% - 40px);    
}
.link{
    cursor: pointer;
}
#txtInput, #txtOutput{
    font-family: 'Consolas', 'Courier New', Courier, monospace;
}