
.resizable.column{
    width: 4px;
    margin: 0px !important;
    padding: 0px !important;
    background: grey;    
    cursor: e-resize;
}

.resizable.row{
    height: 4px;
    margin: 0px !important;
    padding: 0px !important;
    background: grey;    
    cursor: n-resize;
}